* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header css Start */
.nav_title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.text-primary {
    color: #FD6E0A;
}

.btn_primary {
    color: #FFFFFF;
    height: 64px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;

}

.header_title li {
    font-size: 1.2em;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-position-x: 100%, 20px;
}

/* banner css start */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}


.banner_title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner_subtitle {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner_des {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about me section start */
.about_me {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section_title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 800;
}

.sec_des {
    color: #757575;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.a-i-c {
    display: flex;
    justify-content: space-around;
}

.about_me .info-title {
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}

.info-des {
    font-size: 20px;
    font-weight: 800;
    color: #474747;
}

.s-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 113px;

}

.w-h-pragraph {
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-des {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

/* resume Part Start */
.resume-container {
    display: flex;
    gap: 24px;
}

.res-title {
    font-weight: 700;
    font-size: 30px;
}

.res-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.resume .description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.res_btn {
    margin-top: 50px;
    text-align: center;
}

/* Footer part start */
.contact .s-title {
    text-align: left;

}

.contact {
    display: flex;
    gap: 110px;
    background: #FFF8F3;
    margin-top: 113px;
    padding: 130px 200px;
}

.contact input[type="text"],
input[type="email"] {
    margin-bottom: 24px;
    border: 0;
    width: 461px;
    height: 64px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    border-radius: 5px;
    resize: none;
    font-size: 1.1em;
}

.textarea {
    border: 0;
    width: 461px;
    height: 180px;
    resize: none;
    padding-top: 18px;
    padding-left: 30px;
    font-size: 1.2em;
    margin-bottom: 24px;
}

input {
    height: 64px;
}


/* footer title customise */
.s-title-f {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    padding-bottom: 25px;
}

.f-p {
    font-weight: 400;
    font-size: 16px;
    color: #474747;
}

/* Footer final  */
.contact a {
    text-decoration: none;

}


/* Header Contact Button */
.btn_2 {
    width: 175px;
    height: 64px;
    border: 1px solid #FD6E0A;
    margin-left: 30px;
    background-color: #FFF8F3;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    color: #FD6E0A;
}

#docx {
    color: #FD6E0A;
}

/* Extra  */

.skill {
    align-items: center;
    text-align: center;
}
/* Resposive part start  */
@media screen and (max-width:576px) {
    .what-i-do
    {
        padding: 15px;
    }
    .skill-container
    {
        grid-template-columns: repeat(1,1fr);
    }
}


.hide 
{
    display: none;
}