* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header css Start */
.nav_title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.text-primary {
    color: #FD6E0A;
}

.btn_primary {
    color: #FFFFFF;
    height: 64px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;

}

/* banner css start */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner_title {
    font-weight: 700;
    font-size: 85px;
}

.banner_subtitle {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner_des {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}