* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header css Start */
.nav_title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.text-primary {
    color: #FD6E0A;
}

.btn_primary {
    color: #FFFFFF;
    height: 64px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;

}
.header
{
    background: #FFF8F3;
    /* padding-top: 20px; */
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}

/* banner css start */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner_title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner_subtitle {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner_des {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
main
{
    max-width: 1140px;
    margin: 0 auto;
}
/* about me section start */
.about_me
{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section_title
{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 800;
}
.sec_des
{
    color: #757575;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}
.a-i-c
{
    display: flex;
    justify-content: space-around;
}
.about_me .info-title
{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}
.info-des
{
    font-size: 20px;
    font-weight: 800;
    color: #474747;
}